{% extends 'base.html.twig' %}

{% block title %}Redimensionnement de l'image de profil{% endblock %}

{% block body %}
<h2>Cropping de l'image de profil</h2>
    {{ form(cropForm) }}
{% endblock %}



