{% extends 'base.html.twig' %}

{% block title %}Demo Symfony UX{% endblock %}

{% block body %}
    <h1>Test du nouveau système Symfony UX</h1>

    <h2>Basique utilisation du frameword Stimulus</h2>
    <div data-controller="hello">
        <input data-hello-target="name" type="text">
        <button data-action="click->hello#greet">Greet</button>
        <span data-hello-target="output"></span>
    </div>
{% endblock %}
