{% extends 'base.html.twig' %}

{% block title %}Cas d'utilisation de UX Chart.js - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Test d'utilisation de ChartJS</h1>
    {{ render_chart(chart, {
        'data-controller': 'admin-chartjs',
        'data-action': 'chartjs:connect->admin-chartjs#onChartConnect'
    }) }}
{% endblock %}
