<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande d'informations</title>
</head>
<body>
<h1>Message de demande d'information</h1>
<p>Courriel envoyé par <strong>{{ name }}</strong></p>
<p>Téléphone : {{ phone }}</p>
<p><strong>Message</strong> : </p>
<div>{{ message }}</div>
</body>
</html>
