<!DOCTYPE html>
<html class="h-100" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nom du site{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body
         class="d-flex flex-column h-100"
         data-controller="@symfony/ux-swup/swup"
         data-animate-history-browsing="data-animate-history-browsing"
    >
        {% include 'header.html.twig' %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="mt-5 alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
        <main id="swup" role="main" class="container pt-5 mt-5">
        {% block body %}{% endblock %}
        </main>
        {% include 'footer.html.twig' %}
    </body>
</html>
